.title {
  font-size: 2.5rem;
  font-weight: 700;
  height: 80px;
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid #f0f0f0;
}
.json-formatter {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  .main {
    display: flex;
    height: calc(100% - 80px);
    .code-editor-wrap {
      resize: horizontal;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .tool-bar {
        flex-shrink: 0;
        min-width: 300px;
        overflow-x: auto;
        padding: 0 1rem;
        gap: 10px;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
      }
      .code-editor {
        flex-grow: 1;
        overflow: scroll;
      }
    }

    .code-editor-wrap-transition {
      transition: all 0.4s ease-out;
    }

    .json-preview-wrap {
      flex-grow: 1;
      height: calc(100% - 80px);
      position: relative;
      padding: 50px 0px 30px 30px;
      border-left: 1px solid #f0f0f0;
    }
    .togle-button {
      position: absolute;
      top: 10px;
      left: 10px;
      border: 1px solid #ededed;
      border-radius: 10px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      }
      img {
        user-select: none;
        width: 90%;
        height: 90%;
      }
    }
    .drag-edge {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.action-button {
  cursor: pointer;
  border: none;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 0.9rem;
  transition: all 0.3s;
  &:hover {
    // background-color: #eee;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }
}
