.title {
    font-size: 2.5rem;
    font-weight: 700;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.editor {
    text-align: left;
  border-radius: 1rem;
  height: 90vh;
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100% - 5rem);
    width: 100%;
    > * {
      width: 50%;
    }
    .json-editor {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px inset;

      .tool-bar {
        height: 3rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        border-bottom: 1px solid #ddd;
        > * {
          margin-left: 10px;
        }
        button {
          border: none;
          background-color: white;
          box-shadow: #bbb 1px 1px 5px;
          border-radius: 3px;
          font-size: 0.9rem;
          cursor: pointer;
          &:hover {
            background-color: #ddd;
          }
        }
      }

      textarea {
        padding: 1rem;
        height: calc(100% - 2rem);
        line-height: 2rem;
        font-size: 1rem;
        border: none;
        outline: none;
        background: none;
      }
    }
    .json-preview {
      font-size: 1rem;
      border: 1px solid #ddd;
      padding: 1rem;
      height: calc(100% - 2rem - 2px);
    }
  }
}
